<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Method</th>
      <th>Term</th>
      <th>Code sample</th>
      <th>Definition</th>
      <th>Language</th>
      <th>Concept</th>
      <th>Difficulty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <% if note.method.present? %>
         <td><%= note.method %></td>
        <% end %>
        <% if note.term.present? %>
          <td><%= note.term %></td>
        <% end %>
        <% if note.code_sample.present? %>
          <td><%= note.code_sample %></td>
        <% end %>
        <% if note.definition.present? %>
          <td><%= note.definition %></td>
        <% end %>
        <% if note.language.present? %>
          <td><%= note.language %></td>
        <% end %>
        <% if note.concept.present? %>
          <td><%= note.concept %></td>
        <% end %>
        <% if note.difficulty.present? %>
          <td><%= note.difficulty %></td>
        <% end %>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
